<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javamuk.mapper.MyProductMapper">

<select id="selectProductAll" parameterType="com.javamuk.domain.Member" resultType="com.javamuk.domain.Product">
	select * from `exchange`.`product` where mem_idx=#{mem_idx}
</select>

<select id="selectProductOne" parameterType="com.javamuk.domain.Product" resultType="com.javamuk.domain.Product">
	select * from `exchange`.`product` where pro_idx=#{pro_idx}
</select>

<select id="selectOwner" parameterType="com.javamuk.domain.Product" resultType="com.javamuk.domain.Member">
	SELECT `member`.`mem_idx`, `member`.`mem_id`,`member`.`mem_pw`,`member`.`mem_name`,`member`.`mem_birth`,`member`.`mem_nickname`,`member`.`mem_phone`,`member`.`mem_email`,`member`.`mem_address`,`member`.`mem_photo`,`member`.`mem_score` 
	FROM `exchange`.`product` inner join `exchange`.`member` on product.mem_idx = member.mem_idx where product.pro_idx=#{pro_idx}
</select>
	
<select id="locationProduct" parameterType="com.javamuk.domain.Product" resultType="com.javamuk.domain.Product">
	select * from `exchange`.`product` where pro_location like CONCAT('%',#{pro_location},'%')
</select>
</mapper>