<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.javamuk.mapper.daumMapMapper">

	<select id="daumMapMap"> select p.pro_location, m.mem_address from member as
		m , product as p where m.mem_idx= #{param1} and p.pro_idx=#{param2};
	</select>

</mapper>