<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javamuk.mapper.memberMapper">

	<insert id="createNaverMember" parameterType="com.javamuk.domain.Member">
		insert into member(mem_id,mem_pw,mem_name,mem_nickname,mem_photo) values(#{mem_id},#{mem_pw},#{mem_name},#{mem_nickname},#{mem_photo})
	</insert>
	
	
	<insert id="createCacaoMember" parameterType="com.javamuk.domain.Member">
		insert into member(mem_id,mem_pw,mem_name,mem_nickname,mem_photo) values(#{mem_id},#{mem_pw},#{mem_name},#{mem_nickname},#{mem_photo})
	</insert>

	<insert id="createMember" parameterType="com.javamuk.domain.Member">
		insert into
		member(mem_id,mem_pw,mem_name,mem_birth,mem_nickname,mem_phone,mem_email,mem_address,mem_photo)
		values(#{mem_id},#{mem_pw},#{mem_name},#{mem_birth},#{mem_nickname},#{mem_phone},#{mem_email},#{mem_address},#{mem_photo})
	</insert>

	<select id="loginMember" parameterType="com.javamuk.domain.Member"
		resultType="com.javamuk.domain.Member">
		select * from member where mem_id=#{mem_id} and
		mem_pw=#{mem_pw}
	</select>

	<select id="loginManager" resultType="com.javamuk.domain.Manager">
		select * from manager where man_id=#{man_id} and man_pw=#{man_pw}
	</select>
	
	<select id="idCheck" resultType="int" parameterType="com.javamuk.domain.Member">
		select count(*) from `exchange`.member where mem_id=#{mem_id}
	</select>
	
		<select id="nickCheck" resultType="int" parameterType="com.javamuk.domain.Member">
		select count(*) from `exchange`.member where mem_nickname=#{mem_nickname}
	</select>
	
	
	
</mapper>
