<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.javamuk.mapper.messageMapper">
	<insert id="createMessage" parameterType="com.javamuk.domain.Message">
		insert into
		message(msg_title,msg_contents,pro_idx,mem_idx)
		values(#{msg_title},#{msg_contents},#{pro_idx},#{mem_idx})
	</insert>

	<select id="gListMessage" resultType="com.javamuk.domain.Message">
		select
		mg.msg_idx,mg.msg_title,mg.msg_contents, mg.msg_regdate,mb.mem_nickname from
		exchange.message mg inner join
		exchange.product p on mg.pro_idx =
		p.pro_idx inner join exchange.member mb on
		mb.mem_idx = p.mem_idx where
		mg.mem_idx in(select mg2.mem_idx from exchange.message mg2,
		exchange.member mb2 where mg2.mem_idx=mb2.mem_idx and
		mb2.mem_idx=#{mem_idx});
	</select>

	<select id="sListMessage" resultType="com.javamuk.domain.Message">
		select mg.msg_idx,mg.msg_title,mg.msg_contents, mg.msg_regdate,mb.mem_nickname from
		exchange.message mg inner join
		exchange.member mb on
		mg.mem_idx=mb.mem_idx where mg.pro_idx in(select mg2.pro_idx from
		exchange.message mg2 inner join
		exchange.product p2 on mg2.pro_idx =
		p2.pro_idx inner join exchange.member mb2 on
		mb2.mem_idx = p2.mem_idx
		and mb2.mem_idx=#{mem_idx});
	</select>

	<select id="gReadMessage" resultType="com.javamuk.domain.Message">
		select mg.msg_idx,mg.msg_title,
		mg.msg_regdate, mg.msg_contents, mb.mem_nickname from
		exchange.message mg inner join
		exchange.member mb on
		mg.mem_idx=mb.mem_idx where mg.msg_idx=#{msg_idx};
	</select>
	
	<select id="sReadMessage" resultType="com.javamuk.domain.Message">
		select mg.msg_idx,mg.msg_title,
		mg.msg_regdate, mg.msg_contents, mb.mem_nickname from
		exchange.message mg inner join
		exchange.product p on mg.pro_idx =
		p.pro_idx inner join exchange.member mb on
		mb.mem_idx = p.mem_idx where mg.msg_idx=#{msg_idx};
	</select>

	<delete id="deleteMessage" parameterType="com.javamuk.domain.Message">
		delete from message
		where msg_idx=#{msg_idx}
	</delete>
</mapper> 